.Header{
    box-sizing: content-box;
    height: 8.5vh;
    background-color: white;
    border-color: lightslategray;
    border-width: 0 0 4px 0;
    border-style: solid;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;  
    text-decoration: none;
    text-align: center;
}

.nav-link{
    margin-top: .5vh;
    font-size: 1em;
    float: left;
    color: black; 
    
}

.selected li{
    border: solid black;
    border-width: 0 0 2px 0;
}

.unselected :hover{
    background-color: beige;
}

li{
    margin-left: 1vw;
    height:max-content;
    padding: 2vh 1.5vw 2vh 1.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.Logout{
    margin-top: 1.25vh;
    height: 6vh;
    margin-right: 0.5vw;
    padding: 1.5vh;
    float: right;
    background-color: #f0f0f0;
    text-decoration: none;
}


.login-div :hover {
    background-color: #66aaff88;
}