.Header{
    height: 8vh;
    background-color: white;
    border-color: aquamarine;
    border-width: 0 0 4px 0;
    border-style: solid;
}
ul {
    height: 8vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;  
}
  
li {
    font-size: 1em;
    float: left;
    color: black; 
    margin-right: 2vw;
    display: block;
    text-align: center;
    padding: 2.2vh 0 0 2vw;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111111;
}

.Logout{
    padding: 2vh;
    float: right;
}

.Login{
    margin-top: 0.9vh;
    margin-right: 0.5vw;
    padding: 1.5vh;
    float: right;
    background-color: #f0f0f0;
    text-decoration: none;
}

.Login hover{
    background-color: lightskyblue;
}